# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out
/ViteOut

# misc
.DS_Store
.env.local
.env.*.local
.cache
*.log
*.fot
*.sublime-project
*.sublime-workspace

# local env files
.env
.env.development.local
.env.test.local
.env.production.local

# debug
*.log
.vscode/

# yarn lock file
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvsps
*.njsproj
*.sln
*.sw?